@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 100vw;
  padding-top: 10vh;
  position: absolute, no-repeat;
  color: rgb(224, 219, 219);
  z-index: 999;
}

.banner h4 {
  font-size: 1.688rem;
}

.banner h1 {
  font-size: 4.688rem;
  font-weight: 600;
  font-family: "Kaushan Script", cursive;
}

.banner span {
  font-size: 2.5rem;
  margin: 0.313rem 0;
}

.soc-icons {
  /* margin-top: 5em; */
  display: flex;
  justify-content: center;
  margin-bottom: 15vh;
}

.btn-hire-me,
.icons {
  --color: #00a97f;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  /* color: var(--color); */
  color: white;

  width: 3.125rem;
  height: auto;
  margin: 0.5em;
}

.btn-hire-me,
.icons:hover {
  transform: scale(1.3);
  box-shadow: 0 0.188rem 0.625rem rgba(255, 0, 0, 1);
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 15rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  /* opacity: 0; */
  transition: opacity 0.6s;

  top: 75%;
  left: 46%;
  margin-left: -60px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .banner h1 {
    text-align: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 460px) {
  .banner h3 {
    text-align: center;
  }
}
